<mat-toolbar color="primary">
    <span id="title">My Application</span>

    <span class="space"></span>

    <span class="menu-link" routerLink="/home" routerLinkActive="active">Home</span>
    <span class="menu-link" routerLink="/get-started" routerLinkActive="active">Get Started</span>
    <span class="menu-link" routerLink="/product" routerLinkActive="active">Product</span>
    <span class="menu-link" routerLink="/cart" routerLinkActive="active">Cart</span>
    <span class="menu-link" routerLink="/login">Login</span>
</mat-toolbar>